.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 10px;
    left: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 8px;
    z-index: 10;
    list-style: none;
}

.navbar nav {
    display: flex;
    justify-content: center;
    flex: 1;
}

.navbar img {
    width: 90px;
    height: 90px;
}

.navbar a {
    float: left;
    display: block;
    color: #207567;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
}